body {
    width: 100vw;
    height: 100vh;

    background-color: #212529
}

.sx-nav {
    padding-top:11px;
    padding-bottom:15px;

    background-color: #2468ae;
}

h1 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
}

h2 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
}

.primary-btn {
    width:160px;
    height: 55px;
    background-color: #2468ae; 
    border: 0;
    border-radius: 5px;
    color: white;
}

.content-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 20px;              
    margin: 30px auto;
    max-width: 80%;       
    height: 342px;
}

.code-container {
    width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    height: 342px;
}

pre {
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 300px;
}

iframe {
    position: fixed;
    top: 76px;
    width: 100vw;
    height: calc(100vh - 76px);
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-toggle::after {
    display: none !important;
}

.nav-tabs .nav-link {
    color: white; 
}

.nav-tabs .nav-link:hover {
    color: #e6e6e6;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: #212529;
    border-color: white white transparent;
}