body {
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
}

#navbar {
    position:fixed; 
    top: 0;
    width: 100vw;
}

.navbar {
    min-height: 76px;
}

.nav-link {
    padding-top: 13px; 
    font-size:20px;
}

.sx-nav {
    padding-top:11px;
    padding-bottom:15px;

    background-color: #2468ae;
}

h1 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: calc(2rem + 1.3vw);
    width: 80%;
}

p {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: calc(1em + 0.5vw);
    width: 70%;
}

.primary-btn {
    background-color: #2468ae; 
    padding-left: 25px;
    padding-right:25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 20px;
    color: white;
    max-width: 80%;
}

.light-wrapper {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #383b3f;
}

.dark-wrapper {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #212529
}

.content-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 20px;              
    margin: 30px auto;
    max-width: 80%;       
}

.code-container {
    width: 38vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    overflow-y: hidden;
}

code {
    padding-top: 0;
    padding-bottom:0;
    height: 37vh;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

code::-webkit-scrollbar {
  display: none;
}

pre {
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 37vh;
}

iframe {
    position: fixed;
    top: 76px;
    width: 100vw;
    height: calc(100vh - 76px);
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-toggle::after {
    display: none !important;
}

.nav-tabs .nav-link {
    color: white; 
}

.nav-tabs .nav-link:hover {
    color: #e6e6e6;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: #212529;
    border-color: white white transparent;
}

@media (min-width: 820px) {

    .content-wrapper {
        height: 42vh;
        max-height: 500px;
    }

}

@media (max-width: 820px) {

    .content-wrapper {
        flex-direction: column;
        width: 95%;
        max-width: 600px;
    }

    .content-wrapper img {
        width: 95%;
        max-width: 600px;
    }

    .arrow-container svg {
        transform: rotate(90deg);
    }

    .code-container {
        width: 95%;
    }

    .text-break {
        display: none;
    }
}
